<li><hr></li>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%=render partial:'layouts/tables_side_bar',locals:{ tables: @tables, param_name: "table" }%>
    </div>    
    
    <div class="span10">      
      <%if params["table"]%>    
        <%=render partial:'form',locals:{ attributes: @attributes }%>
      <%end%>
    </div>
        
  </div>
  
  </div>  
</div>

