<div class="container">
  <div class="row-fluid pagination-centered">
    <div class="span12 ">
      <h1>term analysis <h1>
      	<%=form_tag  search_results_terms_path,:class=>"form-search",remote:true do%>
        <input type="text" class="input-large search-query"  placeholder="search for terms...">
        <input type="submit" class="btn",value="submit">Search</input>
       <%end%>
    </div>
  </div>
</div>
<%=binding.pry%>
<%=@related_terms%>