<h3><%=fact_name%></h3>
<h4>Show me</h4>
<table>	
	<% fact.keys.each do |attribute| %>
		<tbody>
			<td>
				<%= check_box_tag "button_action", attribute, false, onClick: "
				if($(this).is(':checked')){
					$('#action_params_#{attribute}').attr('disabled',false);
				}else{
					$('#action_params_#{attribute}').attr('disabled',true);
				};" %>
			</td>	
				<td><%= select(:action_params, attribute, fact[attribute][:function], {class: 111})%></td>
			<td> of </td>
			<td>
				<%=attribute.to_s%>
			</td>	
		</tbody>
	<%end%>
</table>

<script type="text/javascript">
	$(document).ajaxComplete(function() {
		$('select, .input-small').attr('disabled', true);
	});
</script>

