<div class="container">
  <div class="row-fluid pagination-centered">
    <span12>    
      <span9>
        <%=display_dims(eval(selected_fact))%>
      </span9>  
      <span3>
        <span1>
          <h2> <%=selected_fact%> </h2>
        </span1>
        <span2>
          <ul>
            <%display_attributes(eval(selected_fact)).each do |attribute|%>
            <li> <%= "#{attribute[:name]}  -  #{attribute[:type]}" %> </l1>
            <%end%>  
          <ul>    
        </span2>
      </span3>
    </span12>
  </div>  
<div>  
   