<div class="container">
  <div class="row-fluid pagination-centered">
    <span12>    
      <span9>
      </span9>  
      <span3>
        <span1>
          <h2> </h2>
        </span1>
        <span2>
          <ul>
            <%dims.each do |dim|%>
            <li> <%= "#{dim.name} " %> </l1>
            <%end%>  
          <ul>    
        </span2>
      </span3>
    </span12>
  </div>  
<div>  
   