<%=form_tag queries_path,:class=>"form-inline",method:'get' do %>     

  <div class="span8">               
    <div class="hero-unit">
      
      <div class="row">
        <p><%=fact.name%></p>
      </div>
      
      <div class="row">
             

      <div class="row">
      
      <button type="submit" class="btn btn-primary">ask</button>

    </div>
  </div>    
  
  <div class="span2">  
    <div class="affix">
        <p><%=fact.name%></p> 
    </div>
  </div>  

<%end%>