<li><hr></li>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%=render partial:'layouts/tables_side_bar',locals:{ tables: @dims, param_name: "dims" } if params[:fact] %>
    </div>    
    
    <div class="span10">      
      <h1>Dashboard</h1>   

    <%=render partial: 'phase_1', locals:{tables: @facts} %>
    </div>
        
  </div>
  
  </div>  
</div>

